name: Woori Back CI Pipeline

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'back/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'back/**'

jobs:
  back-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./back

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew build -x test 
